<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/dev-note.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jua&display=swap" rel="stylesheet">
    <title>To-do app</title>
</head>
<body>
    <h1>Updates</h1>
   
    <h3 class="Speach">
        Hello I am Lightstar, I love coding and enjoy doing it I do coding projects every single day! 
        I am really intressted on becoming a software engeenier I hope by doing all of these projects 
        I will gain some fame, experience and, learn how to code. This project is realy special to me 
        because this was one of my first big coding projects. I will hopefully had more Update to this 
        programme and make it one of the best!
    </h3>

</body>
</html>